.contact-container{
    width:100%;
    height:auto;
    padding:5% 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

}
.contact-container .contact-left{
    flex-basis: 50%;
    color:white;
    padding: 3%;
    border:1px solid white;
    border-radius: 15px;
    margin-right: 15px;
    background-color:rgba(136, 152, 170,0.2)
}
.contact-container .contact-left h2{
    margin-bottom: 15px;
}
.contact-container .contact-left span{
    color: rgb(23, 215, 120) ;
}
.contact-container .contact-right{
    flex-basis: 50%;
}
.contact-container .contact-right h2{
    font-size: 2em;
    color: white;
}
.contact-container .contact-right .under{
    color: rgb(23, 215, 120) ;
     text-decoration: underline;
}
.contact-container .contact-right input{
    background-color:rgba(136, 152, 170,0.2);
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    outline: none;
    border-radius:15px;
    border:1px solid white;
}
.contact-container .contact-right textarea{
    height: 150px;
    background-color:rgba(136, 152, 170,0.2);
    margin-left: 20px;
    margin-top: 20px;
    outline: none;
    width: 90%;
    padding: 10px;
    border-radius:15px;
    border:1px solid white;
    margin-bottom: 20px;
}
.contact-container .contact-right a{
    display: flex;
    width: 90%;
    margin-left: 20px;
    justify-content: center;
    padding: 10px 30px;
    text-decoration: none;
    border:1px solid white;
    color: White;
    background-color:rgba(136, 152, 170,0.4);
   color: rgb(23, 215, 120);
   border-radius:15px;
   transition: all 0.5s;
}
.footer{
    text-align: center;
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.9);
    padding:1% 10%;
}
.footer span{
    color: rgb(23, 215, 120);

}
hr{
    margin-bottom: 15px;
}
.typer{
    font-size: 1.2em;
    margin-bottom: 20px;
}
#top{
    position: absolute;
    right: 0;
}
#top img{
    width:80px;
    height:80px;
}
@media screen and (max-width:900px){
    .contact-container{
        display:flex;
        flex-direction: column;       
        padding: 5%;
    }
    .contact-container .contact-left{
        width:100%;
    }
    .inputs{
        display: flex;
        flex-direction: column;
    }
    .contact-container .contact-right input{
        width: 90%;
    }
    .footer{
        font-size:0.5em;
    }
  
}